body {
	background-color: #F8F8F8;
	margin: 0;
}

header {
	height: 100px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #1B1B1B;
}

header .logo {
	width: 300px;
	height: 100px;
	float: left;
}

header .menu {
	width: 800px;
	height: 100px;
	float: right;
}