body {
	background-color: #e3ecf2;
	margin: 0;
}

header {
	height: 106px;
	background-color: #404e5c; /*717568*/
}

header table {
	width: 100%;
	height: 106px;
}

header .logo {
	padding: 0;
	margin: 0;
	position: relative;
	top: -2px;
}

header .logo-description {
	padding: 0;
	margin: 0;
	width: 500px;
	height: 25px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: -10px;
	line-height: 2px;
}

header .contact-img {
	padding-right: 25px;
	width: 100%;
	text-align: right;
	height: 25px;
}

header .contact-info {
	width: 100%;
	padding-right: 200px;
	text-align: left;
	height: 25px;
	position: relative;
	top: -2px;
}

section {
	height: 50em;
}
