nav {
	width: 100%;
	height: 40px;

	/*background-image: url("../images/background-pattern.png");
	background-color: #333;*/
	background-color: #1A1A1A;
}

nav ul {
	margin: auto;
	width: 370px;
	list-style-type: none;
	left: -3.33px;
	z-index: 0;
}

nav li {
	position: relative;
	display: inline-block;
	text-align: center;
	height: 40px;
	z-index: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

nav li:hover:not(.current) {
	background-color: #333;
	background-image: none;
	z-index: 99;
}

nav a {
	color: white;
	display: inline-block;
	text-decoration: none;
	transition: transform 0.5s;
	width: 120px;
	padding: 10px 0;
	z-index: 1;
}

.current {
	background-image: linear-gradient(to bottom, #4F4F4F, #333);
	border-radius: 5px 5px 0 0;
	z-index: 2;
}

.current:after,
.current:before{
  	position: absolute;
  	bottom: 0px;
  	width: 6px;
  	height: 6px;
  	content: " ";
  	z-index: 3;
}

.current:before {
	left: -6px;
  	border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 0 #333;
}

.current:after {
	left: 120px;
  	border-bottom-left-radius: 6px;
    box-shadow: -2px 2px 0 #333;
}