.title {
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.forfaits {
	width: 100%;
  	border-collapse: separate;
  	border-spacing: 50px 50px;
  	position: relative;
  	top: -50px;
}

.forfait {
	width: 20%;
	text-align: center;
	height: 400px;
	border-color: #F7F9FB;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	background-color: #F7F9FB;
	position: relative;
	bottom: 0px;

	transition: all 0.5s;
}

.forfait:hover {
	box-shadow: 5px 5px 3px grey;
	bottom: 5px;
}

.forfait table {
	height: 100%;
	width: 70%;
	margin: auto;
}

.titre-forfait, .prix-forfait, .description-forfait {
	text-align: center;
	border-color: #D8E4ED;
	border-style: solid;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.titre-forfait {
	border-bottom-width: 2px;
	height: 50px;
}

.prix-forfait {
	border-top-width: 2px;
	font-weight: bold;
	height: 50px;
}

.description-forfait {
	text-align: left;
}